[submodule "Share2ArchiveToday/youtubedl-android"]
	path = Share2ArchiveToday/youtubedl-android
	url = https://github.com/gabefair/youtubedl-android.git
[submodule "Share2ArchiveToday/ffmpeg-kit-android"]
	path = Share2ArchiveToday/ffmpeg-kit-android
	url = https://github.com/moizhassankh/ffmpeg-kit-android-16KB
