This app does not use, collect, or store any user data, or Personal Identifying Information  (PII). 
Seriously, this app is just adds a tool to your share menu to open the archived version of an URL.
